body {
    background-color: rgba(15, 222, 198, 0.814);
    padding: 64px;
}

div.contaner {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    align-items: center;
}

div.content {
    background-color: blue;
    justify-content: space-around;
    display: flex;
    padding: 64px 56px 44px 30px;
    gap: 32px;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    color: blueviolet;
}

p {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

span {
    font-size: 32px;
    background-color: aliceblue;
    padding: 16;
    border-radius:  8px;
    transition: padding 2s;
    cursor: move;
}

span:hover {
    background-color: aqua;
    padding: 60px;
}